body{
	font-size: 16px;
	margin: 0; padding: 0;
}


.bold{
	font-weight: 700;
}


header{
	width: 1080px;
	margin: 40px auto;
	margin-bottom: 0px;
	background: #ccc;

	display: flex;
	justify-content: space-between;
}

header ul{
	display: flex;
	flex-direction: row;
}

header ul li{
	list-style: none;
}

header ul li a{
	display: flex;
	justify-content: flex-end;
	padding: 15px 5px;
	font-family: 'Times New Roman';
	font-size: 18px;
	text-decoration: none;
}

header ul li a:link{
	color: #000;
}

header ul li a:hover{
	box-shadow: 0 2px 0 black;
}

header ul li a:active{
	color: #000;
	box-shadow: 0 3px 0 #000;
}

header ul li a:visited{
	color: #000;
}



main{
	width: 90%;
	height: 800px;
	padding: 10px;
	margin: 10px auto;
	background: #ccc;
}

.left_panel{
	background: rgba(255,255,255,0.4);
}

.bottom-new{
	display: inline-block;
	float: left;
	font-size: 18px;
	text-decoration: none;
}

.bottom-edit{
	display: inline-block;
	float: right;
	font-size: 18px;
	text-decoration: none;
}

.bottom-delete{
	display: inline-block;
	font-size: 18px;
	text-decoration: none;
	color: red;
}

.firstRow {
	width: 100%;
	display: table-row;
	float: left;
	margin: 0;
}

.th	{
	float: left;
	display: table-cell;
	padding: 2px 5px;
	text-align: center;
	height: 36px;
}

.row {
	width: 100%;
	display: table-row;
	float: left;
	margin: 0;
	text-decoration: none;
}

.td{
	float: left;
	text-align: center;
	display: table-cell;
	padding: 2px 5px;
	height: 36px;
}


.col_1 {width: 70px;}
.col_2 {width: 70px;}
.col_3 {width: 130px;}
.col_4 {width: 130px;}
.col_5 {width: 125px;}
.col_6 {width: 80px;}
.col_7 {width: 50px;}
.col_8 {width: 30px;}
.col_9 {width: 45px;}
.col_10 {width: 48px;}
.col_11 {width: 100px;}
.col_12 {width: 100px;}
.col_13 {width: 85px;}
.col_14 {width: 140px;}
.col_15 {width: 50px;}
.col_16 {width: auto;}
.col_17 {width: 50px; margin-left: 15px;}

.col_17 a:hover, .col_15 a:hover{
	background: rgba(255,255,255,0.4);
	color: black;
}

.form{
	background: #000;
	height: 100px;
	width: 300px;
	position:	absolute;
	left: -300px;
	/* z-index: 2; */
}

.left_panel{
	width: 70%;
	float: left;
	padding: 10px;

}

/* Список машин, водителей, компаний*/
.to_list{
	/* width: 20%; */
	min-width: 300px;
	float: right;
	display: flex;
	flex-direction: column;
}

.to_list a{
	text-decoration: none;
	margin: 1px 0px;
	padding: 5px;
	background: rgba(255,255,255,0.4);
}

.to_list a:hover{
	margin: 1px 0px 1px -10px;
}

.to_list a:link{
	color: #000;
}

.to_list a:active{
	color: #000;
	background: #93a368;
}

.to_list a:visited{
	color: #000;
}


/*Страница Оперативка*/
.actual_car_id{
	padding: 10px;
	background: rgba(255,111,111,0.4);
	width: 35%;
	float: left;
	margin: 5px;
}
