.to_list {
	/* width: 20%; */
	min-width: 4%;
}




/* .table_salary{
	display: table;
	width: 100%;
}

.row {
	width: 100%;
	display: table-row;
	margin: 0;
}


.tdBig{
	height: 64px;
}

.rowInTd{
	display: table-cell;
	height: 32px;
	width: 216px;
	margin: 1px;
	background: rgba(255, 255, 255, 0.5);
	text-align:center;
}

.td_1{
	display: table-cell;
	height: 36px;
	width: 60px;
	padding: 2px 5px;
	margin: 1px;
	background: rgba(255, 255, 255, 0.5);
	text-align:center;
}


.td{
	display: table-cell;
	padding: 2px 5px;
	margin: 1px;
	height: 36px;
	width: 100px;
	text-align:center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.5);
}

.drivers{
	height: 64px;
} */
